.App {
   background-position: center center ;
   background-image: url('imagenfondo/61de2ba956418acd9ab454ceca15bbb2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-clip: border-box;
   background-attachment: fixed;
   height: 2500px;
}

/* Media query para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
   .App {
     background-size: cover;
   }
 }
 
 /* Media query para pantallas de 769px a 1024px de ancho */
 @media (min-width: 769px) and (max-width: 1024px) {
   .App {
     background-size: cover;
   }
 }
 
 /* Media query para pantallas de 1025px de ancho en adelante */
 @media (min-width: 1025px) {
   .App {
     background-size: cover;
   }
 }
